# Lab 4: exploratory data analysis and visualization

How to navigate the lab:

- For some exercises, you will need to fill in the blanks by adding the correct sentences or code. Look for ## YOUR CODE HERE.
- In certain sections, you are required to explain why the code behaves in specific ways. Identify these with a ‚ùìüí¨‚ùì mark.
- In some parts, you will need to write a piece of code entirely on your own. Look for "üíªüíªYOUR CODE HERE:"

## Part 1: Analiysing a data set

#### Upload and prepare your dataset. 

1. Upload the dataset that I provided to your Kaggle environment. You can find information about this dataset [here](https://www.kaggle.com/datasets/zeesolver/consumer-behavior-and-shopping-habits-dataset/data).

> Please use the file I provided, as I have made special modifications to it.

2. Remove duplicates and null values from the dataset. 
    - Drop all rows that contain at least one null value.
    - Drop duplicates but keep the last.

In [5]:
import pandas as pd

df = pd.read_csv('/kaggle/input/shopping-behaviour-modified-for-lab/shopping_behaviour_new(1).csv')
df.head(3)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55.0,Male,Blouse,Clothing,53.0,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14.0,Venmo,Fortnightly
1,2,19.0,Male,Sweater,Clothing,64.0,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2.0,Cash,Fortnightly
2,3,50.0,Male,Jeans,Clothing,73.0,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23.0,Credit Card,Weekly

In [6]:
df.shape

(3997, 18)

## Drop rows with any null values and delete duplicates

In [7]:
df = df.dropna(how='any', axis=0)
df.shape

(2610, 18)

In [8]:
#df.duplicated(subset=['Customer ID'], keep='last')
df = df.drop_duplicates(subset=['Customer ID'], keep='last')
df.shape

(2545, 18)

#### Questions:

‚ùìüí¨‚ùì Q1: What is the age distribution of the customers? How old are the people who shop the most?  
‚ùìüí¨‚ùì Q2: Who spends the most money on purchases, categorised by gender?  
‚ùìüí¨‚ùì Q3: What is the most common frequency at which men make purchases? How does it compare for women?  
‚ùìüí¨‚ùì Q4: Which seasons experience the highest sales volume?  
‚ùìüí¨‚ùì Q5: In which cities do the customers tend to spend the most in average?  
‚ùìüí¨‚ùì Q6: Which locations have the most consistent purchasing behavior?  
‚ùìüí¨‚ùì Q7: How many of the customers who are subscribed wrote a review?  
‚ùìüí¨‚ùì Q8: What is the average review rating of customers who are not subscribed?  
‚ùìüí¨‚ùì Q9: How effective, in percentage, are promo codes in increasing the purchase amount?

In [9]:
print('‚ùìüí¨‚ùì Q1: What is the age distribution of the customers? How old are the people who shop the most?')
print('\n!üí¨! a) The distribution of customer ages:')
print(df.describe()['Age'][1:])

print('\n!üí¨! b) The age distribution of customers with the top 10% purchase amount:')
amt_percentile_90 = df['Purchase Amount (USD)'].quantile(0.90)
print(df[df['Purchase Amount (USD)'] >= amt_percentile_90].describe()['Age'][1:])

‚ùìüí¨‚ùì Q1: What is the age distribution of the customers? How old are the people who shop the most?

!üí¨! a) The distribution of customer ages:
mean    44.060118
std     15.225375
min     18.000000
25%     31.000000
50%     44.000000
75%     57.000000
max     70.000000
Name: Age, dtype: float64

!üí¨! b) The age distribution of customers with the top 10% purchase amount:
mean    43.723077
std     15.407222
min     18.000000
25%     30.000000
50%     45.000000
75%     56.000000
max     70.000000
Name: Age, dtype: float64

In [10]:
print('‚ùìüí¨‚ùì Q2: Who spends the most money on purchases, categorised by gender?')
print('\n!üí¨! The average spend amount grouped by gender:')
print('** Females spend slightly more than men, statistically insignificant **')
df[['Gender','Purchase Amount (USD)']].groupby(['Gender']).mean().transpose()

‚ùìüí¨‚ùì Q2: Who spends the most money on purchases, categorised by gender?

!üí¨! The average spend amount grouped by gender:
** Females spend slightly more than men, statistically insignificant **

Gender                    Female      Male
Purchase Amount (USD)  60.014303  59.42966

In [11]:
print('‚ùìüí¨‚ùì Q3: What is the most common frequency at which men make purchases? How does it compare for women?')
print('\n!üí¨! The time between purchases grouped by gender:')
print('** Most men buys quarterly, most women annually, as described by the following table **')
pd.DataFrame(df.groupby(['Gender','Frequency of Purchases']).size(), columns=['Count'])

‚ùìüí¨‚ùì Q3: What is the most common frequency at which men make purchases? How does it compare for women?

!üí¨! The time between purchases grouped by gender:
** Most men buys quarterly, most women annually, as described by the following table **

                               Count
Gender Frequency of Purchases
Female Annually                  141
       Bi-Weekly                 121
       Every 3 Months            129
       Fortnightly               105
       Monthly                   116
       Quarterly                 113
       Weekly                    114
Male   Annually                  239
       Bi-Weekly                 238
       Every 3 Months            245
       Fortnightly               247
       Monthly                   246
       Quarterly                 259
       Weekly                    232

In [12]:
print('‚ùìüí¨‚ùì Q4: Which seasons experience the highest sales volume?')
print('\n!üí¨! The total spend amount grouped by season:')
print('** Fall has the highest sales volume, closely followed by spring **')

df[['Season', 'Purchase Amount (USD)']].groupby(['Season']).sum()

‚ùìüí¨‚ùì Q4: Which seasons experience the highest sales volume?

!üí¨! The total spend amount grouped by season:
** Fall has the highest sales volume, closely followed by spring **

        Purchase Amount (USD)
Season
Fall                  39490.0
Spring                39376.0
Summer                37105.0
Winter                35768.0

In [13]:
print('‚ùìüí¨‚ùì Q5: In which cities do the customers tend to spend the most in average?')

print('\n!üí¨! The top 10 average spend grouped by state:')
print('** Top spend in Arizona **')
df[['Location', 'Purchase Amount (USD)']].groupby(['Location']).mean().sort_values(by=['Purchase Amount (USD)'], ascending=False).head(10)

‚ùìüí¨‚ùì Q5: In which cities do the customers tend to spend the most in average?

!üí¨! The top 10 average spend grouped by state:
** Top spend in Arizona **

               Purchase Amount (USD)
Location
Arizona                    68.400000
Alaska                     67.529412
Michigan                   66.607843
Pennsylvania               65.083333
Tennessee                  64.183673
North Dakota               63.180000
New Mexico                 62.705882
Illinois                   62.500000
West Virginia              62.367347
South Dakota               62.195652

In [14]:
print('‚ùìüí¨‚ùì Q6: Which locations have the most consistent purchasing behavior?')

print('\n!üí¨! The minimum standard deviation in spend grouped by state:')
print('** Most consistent spend in Maine **')
df[['Location', 'Purchase Amount (USD)']].groupby(['Location']).std().sort_values(by=['Purchase Amount (USD)'], ascending=True).head(10)

‚ùìüí¨‚ùì Q6: Which locations have the most consistent purchasing behavior?

!üí¨! The minimum standard deviation in spend grouped by state:
** Most consistent spend in Maine **

                Purchase Amount (USD)
Location
Maine                       19.977467
New Hampshire               20.206657
New Jersey                  21.374745
New Mexico                  21.855246
South Carolina              22.079285
New York                    22.219882
Texas                       22.330201
Oregon                      22.335007
Massachusetts               22.617213
North Carolina              22.626309

In [15]:
print('‚ùìüí¨‚ùì Q7: How many of the customers who are subscribed wrote a review?')

# Missing reviews were dropped during cleansing, relaoad the data
df2 = pd.read_csv('/kaggle/input/shopping-behaviour-modified-for-lab/shopping_behaviour_new(1).csv')
df2 = df2.drop_duplicates(subset=['Customer ID'], keep='last')
print('\n!üí¨! The number of review givers grouped by subscription status:')
print('** 1005 subscribers wrote a review **')

pd.DataFrame(df2[df2['Review Rating'].notnull()][['Subscription Status', 'Review Rating']].groupby(['Subscription Status']).size(), columns=['Count'])

‚ùìüí¨‚ùì Q7: How many of the customers who are subscribed wrote a review?

!üí¨! The number of review givers grouped by subscription status:
** 1005 subscribers wrote a review **

                     Count
Subscription Status
No                    2705
Yes                   1005

In [16]:
print('‚ùìüí¨‚ùì Q8: What is the average review rating of customers who are not subscribed?')
print('\n!üí¨! Average review rating grouped by subscription status:')
print('** Non-subscribers gave 3.75 on average **')
df[['Subscription Status', 'Review Rating']].groupby(['Subscription Status']).mean()

‚ùìüí¨‚ùì Q8: What is the average review rating of customers who are not subscribed?

!üí¨! Average review rating grouped by subscription status:
** Non-subscribers gave 3.75 on average **

                     Review Rating
Subscription Status
No                        3.752157
Yes                       3.736903

In [17]:
print('‚ùìüí¨‚ùì Q9: How effective, in percentage, are promo codes in increasing the purchase amount?')

print('\n!üí¨! Average purchase amount grouped by promo code:')
promo_avg_amts = df[['Purchase Amount (USD)', 'Promo Code Used']].groupby(['Promo Code Used']).mean().transpose()
print(promo_avg_amts)
eff_pct = 100 * (promo_avg_amts.iloc[0]['Yes']/promo_avg_amts.iloc[0]['No'] - 1)
print('** Promotion code efficiency:', eff_pct.round(2), '% **')

‚ùìüí¨‚ùì Q9: How effective, in percentage, are promo codes in increasing the purchase amount?

!üí¨! Average purchase amount grouped by promo code:
Promo Code Used               No       Yes
Purchase Amount (USD)  59.391154  59.92714
** Promotion code efficiency: 0.9 % **

## Part 2: Creating visualsations

In this part, you need to generate one plot to show the following:
- Purchase amount distribution by location 
- Frequency of purchases by gender 
- Review frequency by subscription status. 

Consider using subplots, hues, personalized colors, line shapes, and other design elements to enhance the visualization. Be creative, and ensure that your design is visually accessible.

Submit your plot along with a 100-200 word explanation of your layout and design choices.

In [20]:
import matplotlib.pyplot as plt